<!doctype html>
<html lang="es">
  <head>
    <title>User documentation</title>
    <% include ../include/header.ejs %>
  </head>

  <body>

    <nav class="navbar navbar-dark  fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <% include ../include/navbar.ejs %>
    </nav>
    <div class="container-fluid">
      <% include ../include/menu.ejs %>
    </div>

    <main role="main" class="bg-main col-md-9 ml-sm-auto col-lg-10 px-4">

        <% include ../templates/user/create-user.ejs %>
        <% include ../templates/user/activated-user.ejs %>
        <% include ../templates/user/login-user.ejs %>
        <% include ../templates/user/change-email-user.ejs %>
        <% include ../templates/user/change-password-user.ejs %>
        <% include ../templates/user/change-birthday-user.ejs %>
        <% include ../templates/user/change-avatar-user.ejs %>


        <% include ../include/footer.ejs %>
    </main>
    <% include ../include/icons.ejs %>
  </body>
</html>
