<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:2715/src/css/login.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://localhost:2715/src/js/login.js"></script>
  </head>
  <body>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="http://localhost:2715/src/wallpaper1.jpg?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://localhost:2715/src/wallpaper2.jpg?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://localhost:2715/src/wallpaper3.jpg?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
            </div>
        </div>
      </div>

        <div id="box">
            <div id="main"></div>
            <div id="loginform">
                <h1>Iniciar sesión</h1>
                <input type="email" placeholder="Correo electrónico"/><br>
                <input type="password" placeholder="Contraseña"/><br>
                <button id="login_user">Entrar</button>
            </div>

            <div id="signupform">
                <h1>Registrar nuevo usuario</h1>
                <input type="email" placeholder="Correo electrónico"/><br>
                <input type="password" placeholder="Contraseña"/><br>
                <button id="create_user">Crear usuario</button>
            </div>

            <div id="login_msg">¿Desea entrar al sistema?</div>
            <div id="signup_msg">¿No cuenta con una cuenta?</div>

            <button id="login_btn">Entrar</button>
            <button id="signup_btn">Crear usuario</button>
        </div>

        <% include ../include/footer.ejs %>
  </body>
</html>
