<!doctype html>
<html lang="es">
  <head>
    <% include ../include/header.ejs %>
  </head>

  <body>

    <nav class="navbar navbar-dark  fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <% include ../include/navbar.ejs %>
    </nav>

    <div class="container-fluid">
      <% include ../include/menu.ejs %>
    </div>

    <main role="main" class="bg-main col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
            <div class="lh-100">
              <h6 class="mb-0 text-white lh-100">Pagina no encontrada</h6>
            </div>
        </div>

        <% include ../include/footer.ejs %>

    </main>

    <% include ../include/icons.ejs %>

  </body>
</html>
