<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-separator titleProfile">
        <span>Profile</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>

      <div class="submenu submenuProfile">
        <ul class="nav flex-column">
        <li class="nav-item">
          <% if(selected === "/") { %>
          <a class="nav-link active" href="./">
          <% } else { %>
            <a class="nav-link" href="./">
          <% } %>
            <span data-feather="log-in"></span>
            User <span class="icon-right" data-feather="chevron-right"></span>
          </a>
        </li>
        <li class="nav-item">
          <% if(selected === "/settings") { %>
          <a class="nav-link active" href="./settings">
          <% } else { %>
            <a class="nav-link" href="./settings">
          <% } %>
            <span data-feather="settings"></span>
            Configuration <span class="icon-right" data-feather="chevron-right"></span>
          </a>
        </li>
        <li class="nav-item">
          <% if(selected === "/about") { %>
          <a class="nav-link active" href="./about">
          <% } else { %>
            <a class="nav-link" href="./about">
          <% } %>
            <span data-feather="info"></span>
            About us <span class="icon-right" data-feather="chevron-right"></span>
          </a>
        </li>
        <li class="nav-item">
          <% if(selected === "/report-problem") { %>
          <a class="nav-link active" href="./report-problem">
          <% } else { %>
            <a class="nav-link" href="./report-problem">
          <% } %>
            <span data-feather="life-buoy"></span>
            Report a problem <span class="icon-right" data-feather="chevron-right"></span>
          </a>
        </li>
        <li class="nav-item">
          <% if(selected === "/help-service") { %>
          <a class="nav-link active" href="./help-service">
          <% } else { %>
            <a class="nav-link" href="./help-service">
          <% } %>
            <span data-feather="help-circle"></span>
            Service support <span class="icon-right" data-feather="chevron-right"></span>
          </a>
        </li>
        <li class="nav-item">
          <% if(selected === "/privacity") { %>
          <a class="nav-link active" href="./privacity">
          <% } else { %>
            <a class="nav-link" href="./privacity">
          <% } %>
            <span data-feather="list"></span>
            Privacy <span class="icon-right" data-feather="chevron-right"></span>
          </a>
        </li>
      </ul>
      </div>


      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-separator titlePlaces">
        <span>Places</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>

      <div class="submenu submenuPlaces"></div>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-separator titleShopping">
        <span>Shopping</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>

      <div class="submenu submenuShopping"></div>


    </div>
  </nav>
</div>
