<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Gloomitty</a>
<input class="form-control form-control-dark w-100" type="text" placeholder="Buscar">
<ul class="navbar-nav px-3">
  <li class="nav-item text-nowrap">
    <a class="nav-link" id="singout">Cerrar sesión</a>
  </li>
</ul>
