<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Create new user free</h6>
      <p class="text-info-doc">This service is to register a new user to the system.</p>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Web service path: POST</strong>
        </div>
        <span class="d-block">
          <a class="link-block" href="<%=url %>/create" target="_blank"><%=url %>/create</a>
        </span>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Params</strong>
        </div>
        <span class="d-block">
          <li class="list-params"><strong>email</strong> This fields require a valid email</li>
          <li class="list-params"><strong>password</strong> This fields require a min 8 characters</li>
        </span>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Response status 200</strong>
        </div>
        <span class="d-block">
            <p class="p-block">This response happens when the user has been created successfully.</p>
            <code class="code-success">
              {
                "status": 200,
                "message": "Create success"
              }
            </code>
        </span>
      </div>
    </div>

    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Response status 202</strong>
        </div>
        <span class="d-block">
            <p class="p-block">This response occurs when the mail is not sent to the user's mail, if the mail is not sent the user is not created.</p>
            <code>
              {
                "status": 202,
                "message": "An error has occurred, the email has not been sent"
              }
            </code>
        </span>
      </div>
    </div>

    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Response status 202</strong>
        </div>
        <span class="d-block">
            <p class="p-block">This response occurs when the user already exists.</p>
            <code class="code-tokenInvlid">
              {
                "status": 202,
                "message": "This user already exist"
              }
            </code>
        </span>
      </div>
    </div>

    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Response status 500</strong>
        </div>
        <span class="d-block">
            <p class="p-block">This response occurs when an unexpected error occurred.</p>
            <code class="code-unexpected-error">
              {
                "status": 500,
                "error": "Here is the error message"
              }
            </code>
        </span>
      </div>
    </div>

</div>
